/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    /* overflow: hidden; */
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.navbar {
    background-color: #212529;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: blueviolet;
}

/* .social-icons {
    font-size: 1.4rem;
    filter: drop-shadow(5px 5px 5px black);
}

.social-icons a {
    color: #ffffff;
    margin-left: 15px;
}

.social-icons a:hover {
    color: #9bc4ed;
    font-size: 1.6rem;
} 

.social-icons {
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    gap: 2vh;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5vh;
    height: 5vh;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    font-size: 3vh;
    transition: background-color 0.3s ease;
    filter: drop-shadow(5px 5px 10px #f0f0f0);
}

.social-icons a:hover {
    background-color: #0077B5; /* LinkedIn blue */
/* color: #fff; */
/* } */

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #555;
    font-size: 20px;
    margin: 0 10px;
}

.social-icons a:hover {
    color: #007bff;
    text-decoration: none;
}

.logo img {
    width: 60px;
    height: 60px;
    margin: 5px;
}

.logo {
    position: relative;
    display: flex;
    justify-content: flex-start;
    justify-self: center;
}

.logo header h5 {
    margin: 7px;
}
 /*.main_contain {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: row;
}*/ 
/* ._main_contain { */
    /* height: 100vh; */
._main_contain {
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: row;
    margin-top: 5vh;
    margin-bottom: 2vh;
    justify-content: center;
    align-content: center;
}

@media (max-width: 600px) {
    ._main_contain {
        margin-bottom: 2vh;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        flex-direction: row;
        margin-top: 5vh;
        margin-bottom: 40px;
        justify-content: center;
        align-content: center;
    }
}
._main_contain_club {
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: row;
    margin-top: 5vh;
    margin-bottom: 2vh;
    justify-content: center;
    align-content: center;
}

@media (max-width: 600px) {
    ._main_contain_club {
        margin-bottom: 2vh;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        flex-direction: row;
        margin-top: 5vh;
        margin-bottom: 40px;
        justify-content: center;
        align-content: center;
    }
}


.club_container {
    display: inline-flex;
    flex-wrap: inherit;
    flex: 3;
    flex-direction: row;
}

.club_container img {
    width: 40%;
    height: 40%;
}
.main_club {
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border: 2px;
    border-color: black;
    border-radius: 20px;
    border-style: dashed;
    padding: 2%;
}


@media (max-width:600px) {
    .club_container {
        display: inline-flex;
        flex-wrap: wrap;
        flex: 3;
        flex-direction: row;
    }

    .club_container img {
        width: 80%;
        height: 80%;
    }

}

.circle-container {
    position: relative;
    width: 70vh;
    height: 70vh;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 5%;
}
.circle-container:hover {
    transform: scale(1.1);
}
.circle-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.content-group {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
}
.final-group {
    display: inline-block;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.name {
    font-size: 3vh;
    font-family: sans-serif;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1vh 4vh;
    border-radius: 5px;
}

ul {
    list-style-type: none;
  }
  