/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    /* overflow: hidden; */
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.navbar {
    background-color: #212529;
}
.navbar-brand {
    font-size: 1.5rem;
    color: #ffffff;
}
.nav-link {
    color: #ffffff;
}
.nav-link:hover {
    color: blueviolet;
}
.social-icons {
    font-size: 1.4rem;
    filter: drop-shadow(5px 5px 5px black);
}
.social-icons a {
    color: #ffffff;
    margin-left: 15px;
}
.social-icons a:hover {
    color: #9bc4ed;
    font-size: 1.6rem;
}

.logo img{
    width: 60px;
    height: 60px;
    margin: 5px;
}
.logo {
    position: relative;
    display: flex;
    justify-content:flex-start;
    justify-self: center;
}
.logo header h5{
    margin: 7px;
}

.main_contain{
    height: 100vh;
}